@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: theme('colors.background');
    color: theme('colors.foreground');
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: theme('colors.background');
  }
  ::-webkit-scrollbar-thumb {
    background: theme('colors.border');
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: theme('colors.muted');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
